body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(https://i.pinimg.com/originals/3d/d2/86/3dd286a8c85ad38a5d7e0aa60139ac08.gif);
    background-position:cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}
.quiz-container{
    background-color:#d8f3d773;
    border-radius: 13px;
    padding: 22px;
    padding-top: 60px;
    box-shadow: 0px 10px 15px#bff5af81;
    text-align: center;  

}

#pergunta{
    font-size: 24px;
    margin-bottom: 20px;
}
#opcoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



h2 {
    color: #333;
}

h1{
    color: #296b3e;
}

button {
    margin: 5px;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}
button:hover {
    background-color: #45a049;
}
#resultado {
    margin-top: 20px;
    font-weight: bold;
}
.correto {
    color: #296b3e;
    font-size: 1.2em;
}
.incorreto {
    color: #FF0000;
    font-size: 1.2em;
}
#quiz-terminado {
    display: none;
    margin-top: 20px;
}
